body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Rubik Bubbles', cursive;
    margin:150px auto auto 650px;
    font-weight: 700;
    font-size: 15px;
}

/* Portrait */
@media screen 
  and (device-width: 375px) 
  /*and (device-height: 640px)*/ 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 1440px) 
  /*and (device-height: 640px)*/ 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}
.main_block{
    background-color: hsl(0, 0%, 100%);
    position: relative;
    width:22%;
    padding: 10px;
    border-radius: 5%;
    
    
    
}
.para{
    color:  hsl(220, 15%, 55%);
    font-size: 10px;
    text-align: center;
    padding:2%;
}
.image_style{
    width: 100%;
    border-radius: 5%;
}